$outline-width: 6px;
$shadow-width: 4px;

$button-background: #99c1e0;
$sec-button-background: #5698cc;
$shadow-color: #4d88b7;

@font-face {
    font-family: Blocky;
    src: url('../assets/Blocky5x7.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Chubby Choo;
    src: url('../assets/ChubbyChoo-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Chubby Choo;
    src: url('../assets/ChubbyChoo-semiBold.ttf');
    font-weight: bold;
}

* {
    --heartColor: #f22613;
    --titleBorder: white;
    margin: 0;
    padding: 0;
    cursor: url('../assets/cursorPixel.cur'), auto;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #483b3a;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='30' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(4, 5%, 12%, 1)'/><path d='M1-6.5v13h28v-13H1zm15 15v13h28v-13H16zm-15 15v13h28v-13H1z'  stroke-width='1' stroke='none' fill='hsla(4, 8%, 15%, 1)'/><path d='M31-6.5v13h28v-13H31zm-45 15v13h28v-13h-28zm60 0v13h28v-13H46zm-15 15v13h28v-13H31z'  stroke-width='1' stroke='none' fill='hsla(4, 6%, 14%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Chubby Choo;
    font-size: 13px;
    line-height: 22px;

    .main-container {
        background-color: hsl(0, 0%, 0%);
        padding: 24px 22px;
        border-radius: 12px;
        box-shadow: black 0.2em 0.1em 0.5em;

        &.red {
            transition: 0.6s;
            border: 3px solid hsl(8, 69%, 54%);
        }
        &.blue {
            transition: 0.6s;
            border: 3px solid hsl(206deg, 54%, 57%);
        }
    }

    canvas {
        image-rendering: pixelated;
    }

    #board {
        display: none;
        opacity: 1;
        transition: 0.6s;

        &.fade-out {
            opacity: 0;
            transition: 0.6s;
        }

        &.active {
            display: flex;
        }
    }

    #fight {
        position: relative;
        display: none;
        opacity: 0;
        transition: 0.6s;

        &.fade-in {
            opacity: 1;
            transition: 0.6s;
        }

        &.active {
            display: flex;
            flex-direction: column;
        }

        .instruction {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translate(-50%);
            padding: 2px 16px 8px 16px;
            background-color: #6e5650;
            border: 2px solid black;
            border-radius: 12px;
            box-shadow: black 0.1em 0.1em 0.2em;
            font-size: 1.2em;
            color: white;

            .id {
                .red {
                    color: hsl(8, 69%, 54%);
                }

                .blue {
                    color: hsl(206deg, 54%, 57%);
                }
            }
        }

        .fight-area {
            display: flex;
            flex-direction: row;
            width: 416px;
            height: 216px;
            margin-top: 1.8rem;
            border-radius: 12px;
            background-color: hsla(4, 8%, 15%, 1);

            .right {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                width: 50%;
                height: 100%;

                .player-container {
                    margin-top: 100px;
                    margin-right: 70px;
                    width: 70px;
                    height: 70px;
                    transform: scaleX(-1);

                    animation-duration: 1s;

                    &.death {
                        opacity: 0;
                        transition: 1s;
                    }
                }
            }

            .left {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 50%;
                height: 100%;

                .player-container {
                    margin-top: 100px;
                    margin-left: 70px;
                    width: 70px;
                    height: 70px;

                    animation-duration: 1s;

                    &.death {
                        opacity: 0;
                        transition: 1s;
                    }
                }
            }
        }

        .action {
            margin-top: 18px;
            width: 50%;
            display: flex;
            justify-content: space-between;

            &.left {
                transform: translateX(0);
                transition: 0.5s;

                .pushable {
                    position: relative;
                    border: none;
                    background: transparent;
                    padding: 0;
                    cursor: pointer;
                    outline-offset: 4px;
                    transition: filter 250ms;
                    width: 100px;

                    svg,
                    path {
                        width: 150%;
                        height: 150%;
                        margin-bottom: -30%;
                        fill: rgba(255, 255, 255, 1);
                        transform: scale(1.15);
                    }

                    .shadow {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        background: hsl(0deg 0% 0% / 0.25);
                        will-change: transform;
                        transform: translateY(2px) translateX(1px);
                        transition: transform 600ms
                            cubic-bezier(0.3, 0.7, 0.4, 1);
                    }
                    .edge {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        background: linear-gradient(
                            to left,
                            hsl(8, 69%, 24%) 0%,
                            hsl(8, 69%, 54%) 8%,
                            hsl(8, 69%, 54%) 92%,
                            hsl(8, 69%, 24%) 100%
                        );
                        border: 1px solid black;
                    }
                    .front {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        padding: 12px 42px;
                        border-radius: 12px;
                        font-size: 1.25rem;
                        color: white;
                        background: hsl(8, 69%, 54%);
                        will-change: transform;
                        transform: translateY(-4px) translateX(1px);
                        transition: transform 600ms
                            cubic-bezier(0.3, 0.7, 0.4, 1);
                        border: 3px solid black;
                    }
                    &:hover {
                        filter: brightness(110%);
                    }
                    &:hover .front {
                        transform: translateY(-6px) translateX(1px);
                        transition: transform 250ms
                            cubic-bezier(0.3, 0.7, 0.4, 1.5);
                    }
                    &:active .front {
                        transform: translateY(-2px) translateX(1px);
                        transition: transform 34ms;
                    }
                    &:hover .shadow {
                        transform: translateY(4px) translateX(1px);
                        transition: transform 250ms
                            cubic-bezier(0.3, 0.7, 0.4, 1.5);
                    }
                    &:active .shadow {
                        transform: translateY(1px) translateX(1px);
                        transition: transform 34ms;
                    }
                    &:focus:not(:focus-visible) {
                        outline: none;
                    }
                }
            }
            &.right {
                transform: translateX(100%);
                transition: 0.5s;

                .pushable {
                    position: relative;
                    border: none;
                    background: transparent;
                    padding: 0;
                    cursor: pointer;
                    outline-offset: 4px;
                    transition: filter 250ms;
                    width: 100px;

                    svg,
                    path {
                        width: 150%;
                        height: 150%;
                        margin-bottom: -30%;
                        fill: rgba(255, 255, 255, 1);
                        transform: scale(1.15);
                    }

                    .shadow {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        background: hsl(0deg 0% 0% / 0.25);
                        will-change: transform;
                        transform: translateY(2px) translateX(1px);
                        transition: transform 600ms
                            cubic-bezier(0.3, 0.7, 0.4, 1);
                    }
                    .edge {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        background: linear-gradient(
                            to left,
                            hsl(206deg, 54%, 27%) 0%,
                            hsl(206deg, 54%, 57%) 8%,
                            hsl(206deg, 54%, 57%) 92%,
                            hsl(206deg, 54%, 27%) 100%
                        );
                        border: 1px solid black;
                    }
                    .front {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        padding: 12px 42px;
                        border-radius: 12px;
                        font-size: 1.25rem;
                        color: white;
                        background: hsl(206deg, 54%, 57%);
                        will-change: transform;
                        transform: translateY(-4px) translateX(1px);
                        transition: transform 600ms
                            cubic-bezier(0.3, 0.7, 0.4, 1);
                        border: 3px solid black;
                    }
                    &:hover {
                        filter: brightness(110%);
                    }
                    &:hover .front {
                        transform: translateY(-6px) translateX(1px);
                        transition: transform 250ms
                            cubic-bezier(0.3, 0.7, 0.4, 1.5);
                    }
                    &:active .front {
                        transform: translateY(-2px) translateX(1px);
                        transition: transform 34ms;
                    }
                    &:hover .shadow {
                        transform: translateY(4px) translateX(1px);
                        transition: transform 250ms
                            cubic-bezier(0.3, 0.7, 0.4, 1.5);
                    }
                    &:active .shadow {
                        transform: translateY(1px) translateX(1px);
                        transition: transform 34ms;
                    }
                    &:focus:not(:focus-visible) {
                        outline: none;
                    }
                }
            }
        }
    }

    .title {
        width: 100%;
        text-align: center;
        font-family: Chubby Choo;
        font-weight: bold;
        font-size: 3.6rem;
        text-shadow: 5px 5px 4px hsl(0, 0%, 0%);
        color: hsl(53, 99%, 55%);
        margin-bottom: 1rem;
    }

    .panel-info {
        width: 100%;
        max-width: 416px;
        margin-top: 12px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .player-info {
            font-size: 1.2em;
            color: white;
            padding: 8px;
            width: 45%;
            text-shadow: black 0.1em 0.1em 0.2em;
            background-color: hsl(12deg, 16%, 37%);
            box-shadow: black 0.1em 0.1em 0.2em;
            border: 3px solid black;
            border-radius: 12px;

            .player-label {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                font-size: 1.2em;

                .player-label-bullet {
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    border: 2px solid rgba(0, 0, 0, 0.8);
                    margin-right: 10px;

                    &.player-one {
                        background-color: hsl(8, 69%, 54%);
                    }
                    &.player-two {
                        background-color: hsl(206, 54%, 57%);
                    }
                }

                .class-name {
                    width: fit-content;
                    padding: 0px 6px 6px 6px;
                    margin-left: 8px;
                    border-radius: 8px;
                    background-color: hsl(0, 0%, 0%);
                    text-shadow: black 0em 0em 0em;
                    transform: translateY(6px);
                }
            }

            .life-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-end;
                margin: 6px 0 10px 0;
                margin-left: -2px;

                .life-bar {
                    border-radius: 4px;
                    margin-right: 10px;
                    height: 10px;
                    width: 70%;
                    border: 2px solid black;

                    .life-value {
                        height: 100%;
                        border-radius: 4px;
                        background-color: hsl(8, 69%, 54%);
                    }
                }

                .life-label {
                    margin-right: 3px;
                }
            }

            .weapon-label {
                width: fit-content;
                padding: 2px 6px 6px 6px;
                border-radius: 8px;
                background-color: hsl(0, 0%, 0%);
                text-shadow: black 0em 0em 0em;

                .weapon-name {
                    text-transform: capitalize;
                }

                .value {
                    color: hsl(0, 0%, 0%);
                    padding: 0px 4px 4px 4px;
                    border-radius: 4px;
                    background-color: hsl(0, 100%, 100%);
                }
            }

            .weapon-player {
                width: 16px;
                height: 16px;
                z-index: 9;
            }
        }
    }

    .end-game-overlay {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;

        &.visible {
            z-index: 2;
            opacity: 1;
            transition: 1s;
        }

        .end-game {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 400px;
            border: 3px solid white;
            border-radius: 12px;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
            background-color: rgba(0, 0, 0, 1);
            height: 250px;

            color: white;
            font-size: 1.5em;

            .reset-button {
                margin-top: 24px;
                position: relative;
                border: none;
                background: transparent;
                padding: 0;
                cursor: pointer;
                outline-offset: 4px;
                transition: filter 250ms;
                width: 180px;

                svg,
                path {
                    width: 150%;
                    height: 150%;
                    margin-bottom: -30%;
                    fill: rgba(255, 255, 255, 1);
                }

                .shadow {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    background: hsl(0deg 0% 0% / 0.25);
                    will-change: transform;
                    transform: translateY(2px) translateX(1px);
                    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
                    border: 3px solid black;
                }
                .edge {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    background: linear-gradient(
                        to left,
                        hsl(210deg 0% 16%) 0%,
                        hsl(210deg 0% 32%) 8%,
                        hsl(210deg 0% 32%) 92%,
                        hsl(210deg 0% 16%) 100%
                    );
                    border: 3px solid black;
                }
                .front {
                    font-family: Chubby Choo;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    padding: 4px 12px 12px 12px;
                    border-radius: 12px;
                    font-size: 2em;
                    color: black;
                    background: hsl(215deg 0% 47%);
                    will-change: transform;
                    transform: translateY(-4px) translateX(1px);
                    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
                }
                &:hover {
                    filter: brightness(110%);
                }
                &:hover .front {
                    transform: translateY(-6px) translateX(1px);
                    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
                }
                &:active .front {
                    transform: translateY(-2px) translateX(1px);
                    transition: transform 34ms;
                }
                &:hover .shadow {
                    transform: translateY(4px) translateX(1px);
                    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
                }
                &:active .shadow {
                    transform: translateY(1px) translateX(1px);
                    transition: transform 34ms;
                }
                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }
        }
    }
}

@keyframes attackFromLeft {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(160px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes attackFromRight {
    0% {
        transform: scaleX(-1) translateX(0px);
    }
    50% {
        transform: scaleX(-1) translateX(160px);
    }
    100% {
        transform: scaleX(-1) translateX(0px);
    }
}

@keyframes defend {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes defendInverted {
    0% {
        transform: scaleX(-1) translateY(0px);
    }
    25% {
        transform: scaleX(-1) translateY(10px);
    }
    50% {
        transform: scaleX(-1) translateY(-10px);
    }
    75% {
        transform: scaleX(-1) translateY(10px);
    }
    100% {
        transform: scaleX(-1) translateY(0px);
    }
}
