$outline-width: 6px;
$shadow-width: 4px;

$button-background: #99c1e0;
$sec-button-background: #5698cc;
$shadow-color: #4d88b7;

@font-face {
    font-family: Blocky;
    src: url('../assets/Blocky5x7.ttf');
    font-weight: bold;
}

* {
    --heartColor: #f22613;
    --titleBorder: white;
    margin: 0;
    padding: 0;
    cursor: url('../assets/cursorPixel.cur'), auto;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222;

    canvas {
        image-rendering: pixelated;
    }

    #board {
        display: none;
        opacity: 1;
        transition: 0.6s;

        &.fade-out {
            opacity: 0;
            transition: 0.6s;
        }

        &.active {
            display: flex;
        }
    }

    #fight {
        display: none;
        opacity: 0;
        transition: 0.6s;

        &.fade-in {
            opacity: 1;
            transition: 0.6s;
        }

        &.active {
            display: flex;
            border: 1px solid red;
        }
    }

    .title {
        font-family: 'Blocky';
        font-size: 3em;
        color: white;
    }

    .panel-info {
        width: 100%;
        max-width: 416px;
        margin-top: 12px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .player-info {
            font-family: 'Blocky';
            font-size: 1.2em;
            color: white;
            padding: 12px;
            border: 2px solid green;
            width: 48%;
            text-shadow: black 0.1em 0.1em 0.2em;
            background-color: #6e5650;
            border: black;
            margin: 12px;
            box-shadow: black 0.1em 0.1em 0.2em;

            .life {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .life-label {
                    margin-right: 3px;
                }
            }

            .weapon-player {
                width: 16px;
                height: 16px;
                z-index: 9;
                border: 1px solid red;
            }
        }
    }
}
