$outline-width: 6px;
$shadow-width: 4px;

$button-background: #99c1e0;
$sec-button-background: #5698cc;
$shadow-color: #4d88b7;

@font-face {
    font-family: Blocky;
    src: url('../assets/Blocky5x7.ttf');
    font-weight: bold;
}

* {
    --heartColor: #f22613;
    --titleBorder: white;
    margin: 0;
    padding: 0;
    cursor: url('../assets/cursorPixel.cur'), auto;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222;

    canvas {
        image-rendering: pixelated;
    }

    #board {
        display: none;
        opacity: 1;
        transition: 0.6s;

        &.fade-out {
            opacity: 0;
            transition: 0.6s;
        }

        &.active {
            display: flex;
        }
    }

    #fight {
        position: relative;
        display: none;
        opacity: 0;
        transition: 0.6s;

        &.fade-in {
            opacity: 1;
            transition: 0.6s;
        }

        &.active {
            display: flex;
            flex-direction: column;
        }

        .instruction {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translate(-50%);
            padding: 8px 16px;
            background-color: #6e5650;
            border: 2px solid black;
            border-radius: 12px;
            box-shadow: black 0.1em 0.1em 0.2em;
            font-family: 'Blocky';
            font-size: 1.2em;
            color: white;

            .id {
                .red {
                    color: red;
                }

                .blue {
                    color: blue;
                }
            }
        }

        .fight-area {
            display: flex;
            flex-direction: row;
            width: 416px;
            height: 216px;

            .right {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                width: 50%;
                height: 100%;
                border: 1px solid grey;

                .player-container {
                    margin-top: 120px;
                    margin-right: 70px;
                    width: 30px;
                    height: 30px;
                    background-color: hsl(211deg, 100%, 50%);
                }
            }

            .left {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 50%;
                height: 100%;
                border: 1px solid grey;

                .player-container {
                    margin-top: 120px;
                    margin-left: 70px;
                    width: 30px;
                    height: 30px;
                    background-color: hsl(345deg 100% 47%);
                }
            }
        }

        .action {
            margin-top: 18px;
            width: 50%;
            display: flex;
            justify-content: space-between;

            &.left {
                transform: translateX(0);
                transition: 0.5s;

                .pushable {
                    position: relative;
                    border: none;
                    background: transparent;
                    padding: 0;
                    cursor: pointer;
                    outline-offset: 4px;
                    transition: filter 250ms;
                    width: 100px;

                    svg,
                    path {
                        width: 150%;
                        height: 150%;
                        margin-bottom: -30%;
                        fill: rgba(255, 255, 255, 1);
                    }

                    .shadow {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        background: hsl(0deg 0% 0% / 0.25);
                        will-change: transform;
                        transform: translateY(2px);
                        transition: transform 600ms
                            cubic-bezier(0.3, 0.7, 0.4, 1);
                    }
                    .edge {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        background: linear-gradient(
                            to left,
                            hsl(340deg 100% 16%) 0%,
                            hsl(340deg 100% 32%) 8%,
                            hsl(340deg 100% 32%) 92%,
                            hsl(340deg 100% 16%) 100%
                        );
                        border: 1px solid black;
                    }
                    .front {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        padding: 12px 42px;
                        border-radius: 12px;
                        font-size: 1.25rem;
                        color: white;
                        background: hsl(345deg 100% 47%);
                        will-change: transform;
                        transform: translateY(-4px);
                        transition: transform 600ms
                            cubic-bezier(0.3, 0.7, 0.4, 1);
                        border: 3px solid black;
                    }
                    &:hover {
                        filter: brightness(110%);
                    }
                    &:hover .front {
                        transform: translateY(-6px);
                        transition: transform 250ms
                            cubic-bezier(0.3, 0.7, 0.4, 1.5);
                    }
                    &:active .front {
                        transform: translateY(-2px);
                        transition: transform 34ms;
                    }
                    &:hover .shadow {
                        transform: translateY(4px);
                        transition: transform 250ms
                            cubic-bezier(0.3, 0.7, 0.4, 1.5);
                    }
                    &:active .shadow {
                        transform: translateY(1px);
                        transition: transform 34ms;
                    }
                    &:focus:not(:focus-visible) {
                        outline: none;
                    }
                }
            }
            &.right {
                transform: translateX(100%);
                transition: 0.5s;

                .pushable {
                    position: relative;
                    border: none;
                    background: transparent;
                    padding: 0;
                    cursor: pointer;
                    outline-offset: 4px;
                    transition: filter 250ms;
                    width: 100px;

                    svg,
                    path {
                        width: 150%;
                        height: 150%;
                        margin-bottom: -30%;
                        fill: rgba(255, 255, 255, 1);
                        transform: scale(2);
                    }

                    .shadow {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        background: hsl(0deg 0% 0% / 0.25);
                        will-change: transform;
                        transform: translateY(2px);
                        transition: transform 600ms
                            cubic-bezier(0.3, 0.7, 0.4, 1);
                    }
                    .edge {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        background: linear-gradient(
                            to left,
                            hsl(210deg 100% 16%) 0%,
                            hsl(210deg 100% 32%) 8%,
                            hsl(210deg 100% 32%) 92%,
                            hsl(210deg 100% 16%) 100%
                        );
                        border: 1px solid black;
                    }
                    .front {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        padding: 12px 42px;
                        border-radius: 12px;
                        font-size: 1.25rem;
                        color: white;
                        background: hsl(215deg 100% 47%);
                        will-change: transform;
                        transform: translateY(-4px);
                        transition: transform 600ms
                            cubic-bezier(0.3, 0.7, 0.4, 1);
                        border: 3px solid black;
                    }
                    &:hover {
                        filter: brightness(110%);
                    }
                    &:hover .front {
                        transform: translateY(-6px);
                        transition: transform 250ms
                            cubic-bezier(0.3, 0.7, 0.4, 1.5);
                    }
                    &:active .front {
                        transform: translateY(-2px);
                        transition: transform 34ms;
                    }
                    &:hover .shadow {
                        transform: translateY(4px);
                        transition: transform 250ms
                            cubic-bezier(0.3, 0.7, 0.4, 1.5);
                    }
                    &:active .shadow {
                        transform: translateY(1px);
                        transition: transform 34ms;
                    }
                    &:focus:not(:focus-visible) {
                        outline: none;
                    }
                }
            }
        }
    }

    .title {
        font-family: 'Blocky';
        font-size: 3em;
        color: white;
    }

    .panel-info {
        width: 100%;
        max-width: 416px;
        margin-top: 12px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .player-info {
            font-family: 'Blocky';
            font-size: 1.2em;
            color: white;
            padding: 12px;
            width: 43%;
            text-shadow: black 0.1em 0.1em 0.2em;
            background-color: hsl(12deg, 16%, 37%);
            box-shadow: black 0.1em 0.1em 0.2em;
            border: 3px solid black;
            border-radius: 12px;

            .player-label {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 1.2em;

                .player-label-bullet {
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    border: 2px solid rgba(0, 0, 0, 0.8);
                    margin-right: 10px;

                    &.player-one {
                        background-color: hsl(345deg 100% 47%);
                    }
                    &.player-two {
                        background-color: hsl(210deg, 100%, 50%);
                    }
                }
            }

            .life-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin: 6px 0;
                margin-left: -2px;

                .life-bar {
                    border-radius: 4px;
                    margin-right: 10px;
                    height: 10px;
                    width: 70%;
                    border: 2px solid black;

                    .life-value {
                        height: 100%;
                        border-radius: 4px;
                        background-color: hsl(345deg 100% 47%);
                    }
                }

                .life-label {
                    margin-right: 3px;
                }
            }

            .weapon-player {
                width: 16px;
                height: 16px;
                z-index: 9;
            }
        }
    }

    .end-game-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;

        &.visible {
            display: flex;
        }

        .end-game {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 400px;
            border: 2px solid white;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
            background-color: rgba(0, 0, 0, 1);
            height: 250px;

            color: white;
            font-family: 'Blocky';
            font-size: 1.5em;

            .reset-button {
                margin-top: 24px;
                position: relative;
                border: none;
                background: transparent;
                padding: 0;
                cursor: pointer;
                outline-offset: 4px;
                transition: filter 250ms;
                width: 180px;

                svg,
                path {
                    width: 150%;
                    height: 150%;
                    margin-bottom: -30%;
                    fill: rgba(255, 255, 255, 1);
                }

                .shadow {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    background: hsl(0deg 0% 0% / 0.25);
                    will-change: transform;
                    transform: translateY(2px);
                    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
                    border: 3px solid black;
                }
                .edge {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    background: linear-gradient(
                        to left,
                        hsl(210deg 0% 16%) 0%,
                        hsl(210deg 0% 32%) 8%,
                        hsl(210deg 0% 32%) 92%,
                        hsl(210deg 0% 16%) 100%
                    );
                    border: 3px solid black;
                }
                .front {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    padding: 12px 22px;
                    border-radius: 12px;
                    font-family: 'Blocky';
                    font-size: 2.3em;
                    color: black;
                    background: hsl(215deg 0% 47%);
                    will-change: transform;
                    transform: translateY(-4px);
                    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
                }
                &:hover {
                    filter: brightness(110%);
                }
                &:hover .front {
                    transform: translateY(-6px);
                    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
                }
                &:active .front {
                    transform: translateY(-2px);
                    transition: transform 34ms;
                }
                &:hover .shadow {
                    transform: translateY(4px);
                    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
                }
                &:active .shadow {
                    transform: translateY(1px);
                    transition: transform 34ms;
                }
                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }
        }
    }
}
